<div class="container register-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form role="form" data-toggle="validator" id="registerform" name="registerform"
                          class="form-horizontal container-fluid" (submit)="register()"
                          autocomplete="off" novalidate>
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Register new conference</div>
          </div>

          <div class="panel-body">
            <div class="form-group">
              <div class="col-md-12">
                <input type="text" name="name" class="form-control" [(ngModel)]="conference.name" placeholder="Name" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <textarea type="text" name="description" class="form-control" [(ngModel)]="conference.description" placeholder="Description"></textarea>
              </div>
            </div>
            <div class="location-section">
              <div class="form-group">
                <div class="col-md-12">
                  <input type="text" type="text" name="venue" class="form-control" [(ngModel)]="conference.venue" placeholder="Location" required>
                </div>
              </div>
            </div>
            <div class="owner-section">
              <div class="form-group">
                <div class="col-md-12">
                  <input type="text" type="text" name="ownerName" class="form-control" [(ngModel)]="conference.ownerName" placeholder="Owner Name" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <input type="text" type="text" name="ownerEmail" class="form-control" [(ngModel)]="conference.ownerEmail" placeholder="Owner Email" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <my-date-picker name="startDate" placeholder="Start Date" required
                                [options]="startDateTimeOptions"
                                [(ngModel)]="startDateModel"
                                (dateChanged)="onStartDateChanged($event)"></my-date-picker>
              </div>
              <div class="col-md-6">
                <my-date-picker name="finishDate" placeholder="Finish Date" required
                                [options]="finishDateTimeOptions"
                                [(ngModel)]="finishDateModel"
                                (dateChanged)="onFinishDateChanged($event)"></my-date-picker>
              </div>
            </div>
          </div>

          <div class="panel-footer">
            <div class="pull-right">
              <button class="btn btn-success" type="submit">Register</button>
              <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
    </div>
  </div>    
</div>