<div class="row" *ngIf="conference">
  <div class="col-xs-10 conference">
    <div class="row">
      <div class="col-md-12 detail">
        <label>Name</label>
        <div>{{ conference.name }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 detail">
        <label>Description</label>
        <div>{{ conference.description }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 detail">
        <label>Location</label>
        <div>{{ conference.location }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 detail">
        <label>Time</label>
        <div>Start at <span class="date">{{ conference.startDate }}</span> - Finish at <span class="date">{{ conference.finishDate }}</span></div>
      </div>
    </div>
  </div>
</div>